@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  background-color: #dfe1e6;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  max-width: 667px;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  padding-bottom: 24px;
}

h2 {
  overflow: hidden;
}

a {
  cursor: pointer;
}

.nav-header {
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
}

#logo {
  font-size: 18px;
  color: #6070ff;
}

#headline {
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-style: normal;
  background-image: url(../assets/header-shapes-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.header-2 {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

#headline p {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 24px;
}

.tag li {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.social-icon-2 li:hover {
  transform: scale(1.3);
}

#languages {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#languages li {
  display: flex;
  gap: 16px;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  background-color: #f7f7f9;
}

#languages li h3 {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

#headline ul li:hover {
  transform: scale(1.3);
}

main {
  max-width: 667px;
}

#works {
  padding: 114px 24px;
  display: grid;
  gap: 88px;
}

.card {
  background-color: #fff;
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card h2 {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.primary-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 30px;
  font-weight: 600;
  line-height: 16px;
  height: 16px;
  color: #344563;
}

.primary-text::marker {
  font-size: 80px;
}

fieldset > *:not(:last-child) {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.primary-text > *:not(:first-child) {
  list-style: disc;
  color: #7a869a;
  font-size: 13px;
}

.primary-text > *:not(:first-child)::marker {
  font-size: 18px;
  color: #c1c7d0;
}

.paragraph {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0;
}

.tag {
  display: flex;
  gap: 8px;
}

button {
  width: fit-content;
  margin: 12px 0;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  color: #396df2;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #6070ff;
  transition: background-color 0.3s ease;
}

#about {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 80px;
  padding: 114px 24px;
  gap: 12px;
}

.social-icon-2 {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 10px;
  margin-top: 16px;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

button:active {
  background-color: #00f;
}

.header {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

#tech {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tech {
  padding: 24px 12px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.underline::after {
  content: url("../assets/arrow-F.svg");
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  right: 32px;
}

.underline {
  border-bottom: 1px solid #0000001e;
}

.dropdown::after {
  content: url("../assets/arrow-F.svg");
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  right: 32px;
  transform: rotate(90deg);
}

.white-bg {
  background-color: #fff;
}

#contact-form {
  background-image: url("../assets/contact-form-background.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  border-radius: 60px 0 0 0;
}

input {
  height: 48px;
}

input::placeholder {
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

#contact-form h2 {
  margin-top: 103px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 12px;
}

#contact-form p {
  color: #ebebff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 52px;
}

#contact-form form {
  margin-bottom: 32px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  border: none;
  justify-content: center;
}

fieldset textarea {
  height: 170px;
  resize: none;
}

fieldset textarea::placeholder {
  color: #b3bac5;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

fieldset #submit {
  font-size: 17px;
  color: #6070ff;
  border: 0;
  background-color: #fff;
  padding: 12px 16px;
  width: min-content;
  border-radius: 8px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

fieldset #submit:hover {
  color: #fff;
  background: #6070ff;
  cursor: pointer;
  border: 1px solid #fff;
  overflow: hidden;
  transition-duration: 0.4s;
}

fieldset #submit:active {
  color: #fff;
  background: #2230d2;
  overflow: hidden;
  transition-duration: 0.4s;
}
